html, body {
  font-family: 'Hubballi', cursive;
}

h1 {
  margin-bottom: 4rem;
  font-family: 'Pacifico', cursive;
  font-size: 5.5rem;

  line-height: 1.5;
}

.navpic {
  padding: 15px 0 0 15px;
}

.navbar-brand {
  margin: 0 !important;
  padding: 0 !important;
}

.navbar {
  padding: 0;
  height: 90px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.nav-link {
  font-size: 1.7rem;
  color: #dddddd !important;
  padding-right: 10px !important;
  padding-left: 36px !important;
  text-align: right;
}

.nav-link:hover {
  color: white !important;
}

.navbar-toggler {
  margin: 10px !important;
}

#title {
  height: 100vh;
  width: 100%;
  background: url(../images/background.png);
  background-position: center center;
  background-size: cover;
  color: #fdfdfd
}

.container-fluid {
  padding: 3% 15%;
  margin-top: 3rem;
}


.btn-dark:hover {
  background: #636363;
}

.download-button {
  margin: 0 4% 0 0;
  font-size: 1.5rem;
}

.title-img {
  width: 60%;
  transform: rotate(21deg);
  z-index: 1;
}

#features {
  z-index: 10;
  position: relative;
  background: white;
}


@media screen and (max-width: 990px) {
  #navbarTogglerDemo02 {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  }
}
