html, body {
  font-family: 'Hubballi', cursive;
}

h1 {
  margin-bottom: 4rem;
  font-family: 'Pacifico', cursive;
  font-size: 5.5rem;
  line-height: 1.5;
}

h2 {
  font-family: 'Pacifico', cursive;
  font-weight: lighter;
  font-size: 3.1rem;
  line-height: 1.5;
  margin: 30px;
}

h3 {
  font-family: 'Pacifico', cursive;
  font-size: 2.2rem;
  margin-bottom: 20px;
}

em {
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
  font-size: 1.6rem;
}


.navpic {
  padding: 6% 0 6% 5%;
  width: 200px;
  height: 90px;
}

.navbar-brand {
  margin: 0 !important;
  padding: 0 !important;
}

.navbar {
  padding: 0;
  height: 90px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.nav-link {
  font-size: 1.7rem;
  color: #dddddd !important;
  padding-right: 10px !important;
  padding-left: 36px !important;
  text-align: right;
}

.nav-link:hover {
  color: white !important;
}

.navbar-toggler {
  margin: 10px !important;
}

#title {
  height: 100vh;
  width: 100%;
  background: url(../images/background.png);
  background-position: center center;
  background-size: cover;
  color: #fdfdfd
}

.container-fluid {
  padding: 3% 15%;
  margin-top: 3rem;
}

.btn-dark:hover {
  background: #636363;
}

.download-button {
  margin: 0 4% 0 0;
  font-size: 1.5rem;
}

.title-img {
  width: 60%;
  transform: rotate(21deg);
  z-index: 1;
}

#features {
  z-index: 10;
  position: relative;
  background: white;
  padding: 7% 15%;
}

.feature-box {
  text-align: center;
  padding: 4%;
}

.featuresimg {
  height: 80px;
  margin-bottom: 20px;
}

.featuresimg:hover {
  opacity: 0.6;
}

#testimonials {
  text-align: center;
  color: white;
}

.carousel-item {
    padding: 13% 15% 0;
}

.carousel-control-prev {
  padding-top: 290px;
}

.carousel-control-next {
  padding-top: 290px;
}

.carousel-control-prev-icon {
    background-image: url(../images/previous.png);
    height: 30px;
    width: 30px;
}

.carousel-control-next-icon {
    background-image: url(../images/next.png);
    height: 30px;
    width: 30px;
}

.testimonial-img {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  line-height: 1.8em;
    height: 5.4em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden;  /* prevents extra lines from being visible */
}

.testandpress {
  background-image: url(../images/background-test.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#press {
  padding-bottom: 2%;
  text-align: center;
}

.press-img {
  width: 11%;
  margin: 5% 2% 1%;
}

#pricing {
  text-align: center;
}

.h2pricing {
    padding: 3% 15%;
    margin-top: 40px;
}

.pricing-col {
  padding: 3% 2%;
}

.preise {
  padding: 10px 100px 20px;
  --bs-gutter-x: 0;
}

.card-header h3 {
  margin: 10px;
  color: white;
}

.card-header {
  background: #e962c4;
  border-radius: 20px 20px 0 0!important;
}

.card-body .btn {
  font-size: 1.5rem;
  margin: 35px 0 20px;
  width: 60%;
  height: 50px;
}

.card-body p {
  margin: 0;
}

.card {
    border-radius: 20px 20px 2px 2px!important;
    margin: 10px 0 10px;
}

.card-free .btn-outline-dark {
  border-color: #e962c4;
}

.card-free .btn-outline-dark:hover {
  background: #e962c4;
}

.card-m .btn, .card-xl .btn {
  background: #e962c4;
  border-color: #e962c4;
}

.card-m .btn:hover, .card-xl .btn:hover {
  background: #e97bc9;
  border-color: #e97bc9;
}

.card-xl {
  border-color: #e962c4;
  background-image: url(../images/cardbg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}


@media screen and (max-width: 1200px) {


  #navbarTogglerDemo02 {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  }

  .navbar {
    height: 70px;
  }

  .navpic {
    width: 160px;
    height: 70px;
  }

  .download-button {
    margin: 2% 2% 0 0;
    font-size: 1rem;
  }

  .container-fluid {
      padding: 3% 15%;
      margin-top: 1.2rem;
  }

  h1 {
    font-size: 4rem;
    margin-bottom: 3rem;
  }

  .title-img {
    width: 70%;
    margin-top: 17%;
  }

  h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.2rem;
  }

  em {
    font-size: 1rem;
  }

  .title-img {
    width: 80%;
    margin-top: 15%;
  }

  .featuresimg {
    height: 50px;
    margin-bottom: 20px;
  }

  #press {
    padding-bottom: 5%;
    text-align: center;
  }

  .testimonial-img {
    width: 20%;
  }

  .testimonial-text {
    line-height: 1.8em;
      height: 5.4em;       /* height is 2x line-height, so two lines will display */
      overflow: hidden;  /* prevents extra lines from being visible */
  }

  .carousel-control-prev {
    padding-top: 250px;
  }

  .carousel-control-next {
    padding-top: 250px;
  }

  .testandpress {
    background-image: url(../images/background1200.png);

}

@media screen and (max-width: 768px) {

  .testimonial-text {
    line-height: 1.8em;
      height: 9em;       /* height is 2x line-height, so two lines will display */
      overflow: hidden;  /* prevents extra lines from being visible */
  }

}


@media screen and (max-width: 564px) {

.navbar {
  height: 70px;
}

.navpic {
  width: 160px;
  height: 70px;
}

.download-button {
  margin: 2% 2% 0 0;
  font-size: 1rem;
}

.container-fluid {
    padding: 3% 15%;
    margin-top: 1.2rem;
}

  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 1.4rem;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.2rem;
  }

  em {
    font-size: 0.9rem;
  }

  .title-img {
    width: 80%;
    margin-top: 15%;
  }

  .featuresimg {
    height: 50px;
    margin-bottom: 20px;
  }

  .testandpress {
    background-image: url(../images/background-mobile.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #press {
    padding-bottom: 5%;
    text-align: center;
  }

  .testimonial-img {
    width: 25%;
    margin: 17px;
  }

  .carousel-control-prev {
    padding-top: 120px;
  }

  .carousel-control-next {
    padding-top: 120px;
  }

  .testimonial-text {
    line-height: 1.8em;
      height: 7.2em;       /* height is 2x line-height, so two lines will display */
      overflow: hidden;  /* prevents extra lines from being visible */
  }

  .card-xl {
    background-image: url(../images/cardbgmobile.png);
  }

  .preise {
    padding: 10px 68px 20px;
  }

  .h2pricing {
      padding: 5% 15%;
  }

  .h2pricing h2 {
    font-size: 1.8rem;
  }

.card-body h2 {
  margin: 10px;
}

.card-body .btn {
  margin: 20px 0 10px;
  width: 60%;
  height: 40px;
  font-size: 1rem;
}



}
